{% extends 'base/base.html' %}

{% load custom_tag %}
{% load custom_filter %}

{%  block content %}
<h1>No filter: {{ title }}</h1>
<h1>Custom filter: {{ title|capitalize }}</h1>
<div>
    {{ employees }}
</div>
<hr>
<div>
    {{ departments }}
</div>
<hr>
<div>
    {% if num_1 < 200 %}
        {{ num_1 }} is less than 200
    {% elif num_1 > 200 %}
        {{ num_1 }} is greater than 200
    {% else %}
        {{ num_1 }} is 200
    {% endif %}
</div>
<div>
    {% if num_2 < 200 %}
        {{ num_2 }} is less than 200
    {% elif num_2 > 200 %}
        {{ num_2 }} is greater than 200
    {% else %}
        {{ num_2 }} is 200
    {% endif %}
</div>
<div>
    {% if num_3 < 200 %}
        {{ num_3 }} is less than 200
    {% elif num_3 > 200 %}
        {{ num_3 }} is greater than 200
    {% else %}
        {{ num_3 }} is 200
    {% endif %}
</div>
<hr>
{% for number in numbers %}
    <div>
        {{ number }}
    </div>
{% endfor %}
<hr>
{% for number in numbers %}
    <div>
        {% if number < 200 %}
            {{ number }} is less than 200
        {% elif number > 200 %}
            {{ number }} is greater than 200
        {% else %}
            {{ number }} is 200
        {% endif %}
    </div>
{% endfor %}
<hr>
<ul>
    {% for employee in employees %}
        <li>
            {{ employee.first_name }} - {{ employee.department }}
            {{ employee.get_job_title_display }}
        </li>

    {% endfor %}
</ul>
<hr>
{% departments_list %}

{% endblock %}